<form action="/kmsessions/create" method="post">
    <label>User ID</label>
    <input type="text" name="userid">
    <label>Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>