.alert{
    background: #fff;
    color: rgba(0, 0, 0, 0.582);
    position: absolute;
    right: 2%;
    border: 1px solid rgba(233, 81, 81, 0.692);
   
}
.notice{
    background: rgb(202, 243, 142);
    position: absolute;
    right: 2%;
    border-radius: 3rem;
}